<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<string>http://api.oceanlinktech.cn/platform</string>
	<key>Test</key>
	<string>http://test.oceanlinktech.cn/platform</string>
	<key>Password</key>
	<string>4443</string>
</dict>
</plist>
